button {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: .015em;
	font-weight: 200;
	color: hsla(0, 0%, 100%, .6);
	text-transform: none;
}
button:focus,
button:active,
button:hover {
	outline: 0 !important;
	color: inherit !important;
}
span,
span:focus,
span:hover,
span:active {
	outline: 0;
}
input:focus,
input:hover,
input:active {
	outline: 0;
}
[role="link"] {
	cursor: pointer;
}
