@mixin border-radius($radius: 1px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
@mixin box-sizing($var) {
	-webkit-box-sizing: $var;
	-moz-box-sizing: $var;
	box-sizing: $var;
}
