.border-bottom {
	border-bottom: 1px solid $color__gray;
	margin-bottom: 20px;
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.playlist-image {
	border: 3px solid $color__bg-gray;
	padding: 10px;
}
